<a href="https://colab.research.google.com/github/ktgokr/machineLearning/blob/main/UCLA_admission.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, accuracy_score
from sklearn.linear_model import LogisticRegression

In [2]:
import csv
from google.colab import files
uploaded = files.upload()

f = open('ucla_admit.csv', encoding='utf8')
ucla_df = pd.read_csv(f)

Saving ucla_admit.csv to ucla_admit.csv

In [7]:
ucla_df.shape

(400, 4)

In [8]:
ucla_df.head()

   admit  gre   gpa  rank
0      0  380  3.61     3
1      1  660  3.67     3
2      1  800  4.00     1
3      1  640  3.19     4
4      0  520  2.93     4

In [ ]:
ucla_df.info()

In [6]:
ucla_df.describe()

            admit         gre         gpa       rank
count  400.000000  400.000000  400.000000  400.00000
mean     0.317500  587.700000    3.389900    2.48500
std      0.466087  115.516536    0.380567    0.94446
min      0.000000  220.000000    2.260000    1.00000
25%      0.000000  520.000000    3.130000    2.00000
50%      0.000000  580.000000    3.395000    2.00000
75%      1.000000  660.000000    3.670000    3.00000
max      1.000000  800.000000    4.000000    4.00000

In [9]:
X = ucla_df[['gre','gpa','rank']]
Y = ucla_df['admit']

In [40]:
#train and split
X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size=0.35, random_state=1234)

In [41]:
#model 선언
model = LogisticRegression()

In [42]:
#model fit
model.fit(X_train, Y_train)

LogisticRegression()

In [43]:
#model predict
Y_pred = model.predict(X_test)

In [44]:
#MSE(Mean Squared Error)를 측정합니다.
MSE = mean_squared_error(Y_test, Y_pred)

#RMSE(Root Mean Squared Error)를 측정합니다.
RMSE = np.sqrt(MSE)

print("MSE: ", MSE)
print("RMSE: ", RMSE)

MSE:  0.24285714285714285
RMSE:  0.49280538030458115

In [45]:
#정확도
print('예측 정확도: %.2f' %accuracy_score(Y_test, Y_pred))

예측 정확도: 0.76

In [46]:
#결과를 예측하기
print(model.predict([[400,3.5,5]]))
print(model.predict([[550,3.8,2]]))
print(model.predict([[700,4.0,2]]))

[0]
[0]
[1]

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:446: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  "X does not have valid feature names, but"
/usr/local/lib/python3.7/dist-packages/sklearn/base.py:446: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  "X does not have valid feature names, but"
/usr/local/lib/python3.7/dist-packages/sklearn/base.py:446: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  "X does not have valid feature names, but"